header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 1fr 0.1fr;
}

header a {
  color: white;
}

nav {
  -webkit-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

nav ul li {
  padding-bottom: 5px;
}

nav ul li:hover {
  color: blue;
}

section {
  display: -webkit-flex;
  display: flex;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

footer a {
  color: white;
}

@media (max-width: 600px) {
  section {
      -webkit-flex-direction: column;
      flex-direction: column;
  }
}
